@import "tailwindcss";

@theme {
  --color-primary-500: #ff922b;

  --color-gray-dark: #212529;
  --color-gray-medium: #adb5bd;
}

.embla {
  @apply overflow-hidden;
}

.embla__container {
  @apply flex max-w-[300px] min-[650px]:max-w-[500px] w-full;
}

.embla__slide {
  @apply min-w-0 basis-full flex-none mr-4 min-[650px]:mr-10 max-[650px]:max-w-[300px];
}
