@import "tailwindcss";

@theme {
  --color-primary-500: #ff922b;

  --color-gray-dark: #212529;
  --color-gray-medium: #adb5bd;
}

.embla {
  @apply overflow-hidden;
}

.embla__container {
  @apply flex w-[500px];
}

.embla__slide {
  @apply min-w-0 basis-full flex-none mr-10;
}
